#!/usr/bin/make -f
export DH_VERBOSE = 1
export DH_OPTIONS = -v
# debuild sets some warnings that don't work well
# for our curent build..so try to remove those flags here:
export CFLAGS:=$(subst -Wformat,,$(CFLAGS))
export CFLAGS:=$(subst -Werror=format-security,,$(CFLAGS))
export CXXFLAGS:=$(subst -Wformat,,$(CXXFLAGS))
export CXXFLAGS:=$(subst -Werror=format-security,,$(CXXFLAGS))

%:
	dh $@ --with systemd

override_dh_systemd_start:
	dh_systemd_start --no-restart-on-upgrade

override_dh_auto_configure:
	pyenv local conan
	conan export external/snappy snappy/1.1.10@
	conan export external/soci soci/4.0.3@

	mkdir build.rippled

	cd build.rippled && \
		conan install .. \
			--profile gcc-rel \
			--output-folder . \
			--build missing \
			--settings build_type=Release

	cd build.rippled && \
		cmake .. \
			-DCMAKE_BUILD_TYPE=Release \
			-DCMAKE_VERBOSE_MAKEFILE=ON \
			-DCMAKE_TOOLCHAIN_FILE:FILEPATH=build/generators/conan_toolchain.cmake

override_dh_auto_build:
	cmake --build build.rippled --target rippled  --parallel 22

override_dh_auto_install:
	cmake --install build.rippled --prefix debian/tmp/opt/ripple
	install -D Builds/containers/shared/update-rippled.sh debian/tmp/opt/ripple/bin/update-rippled.sh
	install -D bin/getRippledInfo debian/tmp/opt/ripple/bin/getRippledInfo
	install -D Builds/containers/shared/update-rippled-cron debian/tmp/opt/ripple/etc/update-rippled-cron
	install -D Builds/containers/shared/rippled-logrotate debian/tmp/etc/logrotate.d/rippled
	rm -rf debian/tmp/opt/ripple/lib64/cmake/date
