#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_configure override_dh_auto_build override_dh_auto_test:
	@:

override_dh_installsystemd:
	dh_installsystemd --no-stop-on-upgrade xrpld.service

execute_before_dh_installtmpfiles:
	dh_installsysusers

override_dh_installsysusers:

# Stage into debian/<package>/ derived from the (single) binary package name,
# so an alternatively-named build (e.g. xrpld-asserts) installs correctly
# without editing this file. Installed paths stay xrpld regardless of the
# package name.
PKG := $(shell dh_listpackages)
override_dh_install:
	install -D -m 0755 xrpld            debian/$(PKG)/usr/bin/xrpld
	install -D -m 0644 xrpld.cfg        debian/$(PKG)/etc/xrpld/xrpld.cfg
	install -D -m 0644 validators.txt   debian/$(PKG)/etc/xrpld/validators.txt

override_dh_dwz:
	@:
