# TODO: Let binaries and config be relative to a "root_dir"
{
    # Details for the executables
    "binaries": [
        {
            "label": <label to refer to the rippled 1 version>,
            "binary": <path to rippled 1>,
            "config_file": <path to rippled 1 config>
        },
        {
            "label": <label to refer to the rippled 2 version>,
            "binary": <path to rippled 2>,
            "config_file": <path to rippled 2 config>
        }
    ],
    # The time rippled will be stopped between runs
    "delay": < seconds >,
    # Parameters for the systemd service
    "service":{
        "user": <user to run as>,
        "shutdown_timeout": <time to allow rippled to stop before systemd kills it>,
        "script_path": <path to sync_test script>
    }
}
