[Unit]
Description=XRPL daemon
After=network-online.target
Wants=network-online.target

[Service]
User=rippled
Group=rippled

ExecStart=/opt/ripple/bin/rippled --conf /etc/opt/ripple/rippled.cfg

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ProtectControlGroups=true
ProtectKernelTunables=true
ProtectKernelModules=true
LockPersonality=true
RestrictRealtime=true
RestrictSUIDSGID=true
MemoryDenyWriteExecute=true
SystemCallArchitectures=native

ReadWritePaths=/var/lib/rippled /var/log/rippled

StateDirectory=rippled
LogsDirectory=rippled

Restart=on-failure
RestartSec=2s
TimeoutStopSec=420s

[Install]
WantedBy=multi-user.target
